body{
    background-color: rgb(255, 255, 172);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*estilo del formulario de inicio de sesion*/

.conteiner-1{
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);   
    border-radius: 20px;
    border-bottom-left-radius: 0;
    width: 300px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
}

.inicioSesion{
    font-size: 24px;
    color: rgb(255, 255, 172);
    text-align: center;
    margin-bottom: 70px;
    margin-top: 0;
}


.inputText::placeholder{
    color: rgb(51, 51, 51);
    background-color: transparent;
}

.inputText{
    width: 200px;
    margin-bottom: 20px;
    background-color: transparent;
    border: none;
    color: whitesmoke;
    border-bottom: solid 1px rgb(117, 117, 117);
}


#boton{
    color: whitesmoke;
    width: 75px;
    background-color: rgb(12, 12, 97);
    border-radius: 10px;
    border: none;
    margin-top: 15px;
    margin-bottom: 0;
    cursor: pointer;
}

#boton:hover{
    background-color: rgb(106, 106, 255);
}

/*clases para ocultar y aparecer el form de sesion y el contenido siguiente*/

.contPrivado{
    display: none;
}

.contAbierto{
    display: block;
}

/*estilo de la tabla*/

.form-select{
    width: 150px;
}

.tablaGeneral{
    margin: 15px;
    width: 1300px;
    color: whitesmoke;
    background-color: rgb(75, 75, 75);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

th{
    width: 1000px;
    background-color: rgb(70, 69, 69);
    color: whitesmoke;
}

td{
    color: whitesmoke;
    font-size: 18px;
}

td.aprobado{
    width: 100px;
    height: 50px;
    background-color: green;
    color: whitesmoke;
    font-size: 24px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
}

td.desaprobado{
    width: 100px;
    height: 50px;
    background-color: rgb(207, 4, 4);
    font-size: 24px;
    color: whitesmoke;
    border-radius: 10px;
    border-bottom-right-radius: 0;
}

.btnAgregar{
    margin-left: 15px;
    font-size: 20px;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);   
}

.btnLimpiarTabla{
    font-size: 20px;
    float: right;
    margin-right: 20px;
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
    color: whitesmoke;
}

.btnLimpiarTabla:hover{
    color: whitesmoke;
}

.conteiner-2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
}
